@import 'hex';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-random {
    background-color: random-hex();
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .bounce {
        @extend .bg-random;
        width: 20rem;
        height: 20rem;
        animation-name: bounced;
        animation-duration: 1s;
        border-radius: 50%;
    }
    
}

@mixin bounce($start, $travel) {

    @keyframes bounced {
        0% {transform: translateY($start);}
        40% {transform: translateY($travel);}
        60% {transform: translateY(calc($travel/2));}
    }

}

@include bounce(0px, -30px);


